body#principal {
    background-color: papayawhip;
    color: black;
}

body#peao{
    background-color: #e2c0e2;
    color: #180115;
}

body#cavalo {
    background-color: #e2c0e2;
    color: #180115;
}

body#bispo {
    background-color: #e2c0e2;
    color: #180115;
}

body#torre {
    background-color: #e2c0e2;
    color: #180115;
}

body#dama {
    background-color: #e2c0e2;
    color: #180115;
}

body#rei {
    background-color: #e2c0e2;
    color: #180115;
}

#principal a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

img {
    width: 300px;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
    border: 5px solid white;
}
img:hover {
    width: 350px;
    box-shadow: 0 0 20px black;
}

footer a{
    background-color: white;
    text-decoration: none;
    width: fit-content;
    padding: 5px;
    color: black !important;
    border: 2px outset white;
    margin: 0 auto;
    border-radius: 3px;
}

footer a:hover {
    border: 2px inset gainsboro;
    background-color: gainsboro;
    color: black !important;
}
