@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Grandstander:wght@200&display=swap');

/*Seletor para o corpo da página*/
body {
    background-color: rgb(74, 8, 136);
    color: rgb(43, 255, 0);
}

h1{
    color: black;
    font-family: 'Dancing Script', cursive;
    font-size: 400%;
    text-align: center;
}

h2{
    color: yellow;
    font-family: 'Grandstander', cursive;
    font-size: 250%;
}

img {
    height: 200px;/*Altura em pixels*/
    width: 200px;/*Largura em pixels*/
    box-shadow: 5px 5px 10px black;
    border-radius: 20px;
}

img#imgPrincipal{
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
}

img.logo{
    margin-left: 165px;
    border-radius: 20%;
}