@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Pacifico|Source+Sans+Pro:200,400");

body{
	background-color: silver;
}

img{
	height: 270px;
	width: 400px;
	box-shadow: 5px 5px 10px black;
	border-radius: 20px;
}